/* hack style for bootstrap multiselect */
.form-check-label { white-space: normal; }
.multiselect-container { width: inherit; }
h5.title { color: #454545; font-size: 16px; }

/* Infografis custom css */
.leaflet-popup-content-wraper { width: 400px; max-height: calc(100vh - 30px); overflow-x: hidden; overflow-y: auto; }

/* hack style for Leaflet Control Layer Tree */
.item-legend { border: unset !important; padding: 3px 0; }
.label-legend { font-size: 14px; padding-top: 2px; }
.item-legend-child { margin-left: 1.25rem; }
.badge-legend { display: inline-block; width: 20px; height: 20px; border: 1px solid; }
.leaflet-control-layers-list { max-width: 400px; min-width: 250px; }
.leaflet-layerstree-header-name, .leaflet-layerstree-closed,
.leaflet-layerstree-opened, .leaflet-layerstree-header-space { font-size: 14px; }
.leaflet-layerstree-header-label { margin-bottom: 3px; }
.leaflet-layerstree-header-name { padding-left: 5px; }
.leaflet-layerstree-header.leaflet-layerstree-header-pointer { margin-bottom: 3px; }
div.leaflet-layerstree-node > div.leaflet-layerstree-children { padding-left: 30px; }
div.leaflet-layerstree-children-nopad > div.leaflet-layerstree-node { margin-bottom: 5px; }

/* popup info */
dl.pop-info { margin-bottom: 2px; padding: 3px 0; }
dl.pop-info dd { margin-bottom: 0; }
/*.pop-info { margin-bottom: 2px; border-bottom: 1px solid #ff7800; }*/
dl:nth-child(even) { background-color: #efefef; }

/* base legend */
.info {
    padding: 5px;
    font-size: 14px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info li.list-group-item { border: unset; padding: 5px; }

span.multiselect-native-select { flex: auto; }
span.input-group-text { min-width: 65px;  }

.filter-element:last-child { margin-bottom: 0px; }

/* class untuk base layer label. Tambahin aja 'display:none' kalo mau hide labelnya */
.base-layer-label {
	background: rgba(255, 255, 255, 0);
	border:0;
	border-radius:0px;
	box-shadow: 0 0px 0px;
	text-align: center;
	white-space: normal;
	/*min-width: 250px;
	max-width: 300px;*/
}